<div>
<div class="sidebar left sidebar-size-3 st-effect-3 sidebar-skin-white sidebar-visible-desktop" id=sidebar-tickets>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="split-vertical">
    <div ng-show="loggedUser" class="sidebar-block equal-padding">
      <a ui-sref = "create_snippet({
        selectedLanguage: selectedLanguage,
        selectedAccess: selectedAccess.name,
        selectedVisibility: selectedVisibility.name,
        description: description,
        code: code,
        duration: duration
      })" class="btn btn-block btn-primary"> <i class="fa fa-floppy-o"></i> Save </a>
    </div>
    <div ng-show="!loggedUser" class="sidebar-block equal-padding">
      <a ui-sref = "create_snippet_not_reg({
        selectedLanguage: selectedLanguage,
        selectedAccess: selectedAccess.name,
        selectedVisibility: selectedVisibility.name,
        description: description,
        code: code,
        duration: duration
      })" class="btn btn-block btn-primary"> <i class="fa fa-floppy-o"></i> Save </a>
    </div>
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div data-scrollable>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <span class="input-group-btn">
              <select class="form-control"  ng-model="selectedLanguage" ng-options="item for item in languagesNames">
                <option value="" disabled selected>Select language</option>
              </select>
            </span>
            </div>
          </div>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <span class="input-group-btn">
              <select class="form-control"  ng-model="selectedAccess" ng-options="item.name for item in accesses" data-live-search="true">
                  <option value="" disabled selected>Select access</option>
              </select>
            </span>
            </div>
          </div>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <span class="input-group-btn">
              <select class="form-control"  ng-model="selectedVisibility" ng-options="item.name for item in visibilities" data-live-search="true" >
                  <option value="" disabled selected>Select visibility</option>
              </select>
            </span>
            </div>
          </div>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <label> Choose duration: (in seconds)</label>
            </div>
            <div class="input-group">
              <span class="input-group-btn">
                <input class="form-control" ng-model="duration" type="number" name="quantity"  min="30" max="240" value="30" step="30" />
              </span>
              </div>
            </div>
                <div class="sidebar-block equal-padding">
                  <ul class="sidebar-menu sm-bordered">
                    <li ng-class="{active : activeMenu === item}"><a ui-sref = "home()"><i class="fa fa-code"></i> <span>Snippets</span></a></li>
                    <li ng-show="loggedUser"><a ng-click="setActive(item)" ui-sref = "user_snippets()"><i class="fa fa-code"></i> <span>My snippets</span></a></li>
                    <li><a ng-click="setActive(item)" ui-sref = "user_new_snippets()"><i class="fa fa-code"></i> <span>New snippets</span></a></li>
                  </ul>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="st-pusher">
  <div class="st-content">
    <div class="st-content-inner" id="content">
      <div class="container-fluid split-vertical">

        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="media-heading margin-v-5">Description:</h4>
            <div data-scrollable>
              <div class="overflow-hidden">
                <textarea class="form-control" ng-model="description" rows="2"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="split-vertical-cell">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 class="media-heading margin-v-5">Code:</h4>
              <div data-scrollable>
                <div class="overflow-hidden">
                  <textarea class="form-control" ng-model="code" rows="18"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
