<div class="sidebar left sidebar-size-3 st-effect-3 sidebar-skin-white sidebar-visible-desktop" id=sidebar-tickets>
  <div class="split-vertical">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="sidebar-block equal-padding">
      <a ui-sref = "start_create_snippet()" class="btn btn-block btn-primary"> <i class="fa fa-file-code-o"></i> Create snippet </a>
    </div>
    <div class="sidebar-block equal-padding">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="description" placeholder="description..">
        <span class="input-group-btn">
          <a ui-sref = "search_description({description: description})"
           class="btn btn-primary"><i class="fa fa-search"></i></a>
        </span>
      </div>
    </div>
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div data-scrollable>
          <ul class="sidebar-menu sm-bordered">
            <li ng-class="{active : activeMenu === item}"><a ui-sref = "not_user_snippets()"><i class="fa fa-code"></i> <span>Snippets</span></a></li>
            <li><a ng-click="setActive(item)" ui-sref = "user_snippets()"><i class="fa fa-code"></i> <span>My snippets</span></a></li>
            <li><a ng-click="setActive(item)" ui-sref = "user_new_snippets()"><i class="fa fa-code"></i> <span>New snippets</span></a></li>
          </ul>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <select class="form-control" ng-model="selectedLanguage" ng-options="item for item in languagesNames"
              data-live-search="true" >
              <option value="" disabled selected>
              </option>
            </select>
              <span class="input-group-btn">
              <a ui-sref="search_language({selectedLanguage: selectedLanguage})" class="btn btn-primary">Search</a>
            </span>
            </div>
          </div>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <input id="datepicker" type="text" class="form-control" ng-model="date" class="form-control datepicker">

              <span class="input-group-btn">
              <a ui-sref="search_date({date: date})" class="btn btn-primary">Search</a>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
