<div id="content">
	<div class="container-fluid split-vertical">
		<div class="split-vertical-body">
			<div class="split-vertical-cell">
				<div data-scrollable>
					<div class="overflow-hidden">
						<p>&nbsp;</p>
						<h4>Snippets</h4>
						<div ng-repeat = "snippet in snippets | orderObjectBy: 'description'">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="media">
										<div class="media-body">
											<div class="pull-right" ng-show = "!snippet.blocked && loggedUser.roleDTO.name == 'ADMIN' ">
												<a ui-sref="block_snippet({snippetId: snippet.id })" class="btn btn-warning btn-xs"><i class="fa fa-lock "></i> Block snippet</a>
											</div>
											<div class="pull-right" ng-show = "snippet.blocked && loggedUser.roleDTO.name == 'ADMIN' ">
												<a ui-sref="unblock_snippet({snippetId: snippet.id })" class="btn btn-warning btn-xs"><i class=" fa fa-unlock-alt"></i> Unblock snippet </a>
											</div>
											<p>&nbsp;</p>
											<div class="pull-right" ng-show="loggedUser">
												<a ui-sref="delete_snippet({snippetId: snippet.id })" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete snippet</a>
											</div>
											<h4 class="media-heading"><a ui-sref="snippet({snippetId: snippet.id })">{{ snippet.description }}</a></h4>
											<p>
												<span class="label label-default">{{ snippet.url }}</span>
												<a class="user-ticket-action "><span class="label label-primary"> {{ snippet.language.name }}</span></a>
												<a class="user-ticket-action "><span class="label label-default"> {{ snippet.access.name }}</span></a>
												<a class="user-ticket-action "><span class="label label-primary"> {{ snippet.visibility.name }}</span></a>
											</p>
											<div class="expandable expandable-indicator-white expandable-trigger">
												<div class="expandable-content">
													<p>
														{{ snippet.data }}
													</p>
												</div>
											</div>
											<p class="margin-none">
												<span class="text-default"><i class="icon-time-clock fw"></i> {{ snippet.duration }} min <i class=" icon-user innerL"></i> Creator: <a href="">{{ snippet.creator.username }}</a></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
