<div id="content">
	<div class="container-fluid split-vertical">
		<p>&nbsp;</p>
		<h2>Snippets</h2>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Content Header</h4>
			</div>
			<div class="panel-body">
			</div>
		</div>

		<div class="split-vertical-body">
			<div class="split-vertical-cell">
				<div data-scrollable>
					<div class="overflow-hidden">
						<h4>Scrollable Content Panel</h4>



						<p>Bottom of scrollable content</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
