<div class="sidebar left sidebar-size-3 st-effect-3 sidebar-skin-white sidebar-visible-desktop" id=sidebar-tickets>
  <div class="split-vertical">
    <div class="sidebar-block equal-padding"></div>
    <div class="sidebar-block equal-padding"></div>
    
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div data-scrollable>
          <ul class="sidebar-menu sm-bordered">
            <li class="active"><a ><i class="fa fa-ticket"></i> <span>New</span></a></li>
            <li><a><i class="fa fa-exclamation-circle"></i> <span>Unread</span></a></li>
            <li><a ><i class="fa fa-pencil"></i> <span>Draft</span></a></li>
          </ul>
          <div class="sidebar-block">
            <div class="selectbox selectbox-primary">
              <!-- izbror jezika i izbor datuma -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
