<div class="st-pusher">
  <div class="st-content">
    <div class="st-content-inner" id="content">
      <div class="container-fluid">
        <h2>Snippets</h2>

        <div ng-repeat = "snippet in snippets">

        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Code</label>
                <div class="col-sm-9">
                  <textarea class="form-control" rows="15"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- // END .st-content-inner -->
  </div>
  <!-- // END .st-content -->
</div>
