<div class="sidebar left sidebar-size-3 st-effect-3 sidebar-skin-white sidebar-visible-desktop" id=sidebar-tickets>
  <div class="split-vertical">
    <div class="sidebar-block equal-padding"></div>
    <div class="sidebar-block equal-padding"></div>
    <div class="sidebar-block equal-padding">
      <a ui-sref = "create_snippet()" class="btn btn-block btn-primary"> <i class="fa fa-pencil"></i> Save </a>
    </div>
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div data-scrollable>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <span class="input-group-btn">
              <select class="form-control"  ng-model="selectedLanguage" ng-options="item.name for item in languages" data-live-search="true">
                  <option value="" disabled selected>Select language</option>
              </select>
            </span>
            </div>
          </div>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <span class="input-group-btn">
              <select class="form-control"  ng-model="selectedAccess" ng-options="item.name for item in acesses" data-live-search="true">
                  <option value="" disabled selected>Select access</option>
              </select>
            </span>
            </div>
          </div>
          <div class="sidebar-block equal-padding">
            <div class="input-group">
              <span class="input-group-btn">
              <select class="form-control"  ng-model="selectedVisibility" ng-options="item.name for item in visibilities" data-live-search="true" >
                  <option value="" disabled selected>Select visibility</option>
              </select>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
