<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Log in</h1>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username" ng-model = "username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-shield"></i></span>
                <input type="password" class="form-control" placeholder="Password" ng-model = "password">
              </div>
            </div>
            <div class="text-center">
              <!--ui-sref = 'stateName({param:value, param:value})' -->
              <a ui-sref = "login({username: username, password: password})" class="btn btn-success">Login  <i class="fa fa-fw fa-unlock-alt"></i></a>
            </div>
          </form>
        </div>
      </div>
      <a ui-sref = "start_register()"  class="forgot-pass"> No account? Create one! <i class="fa fa-question-circle"></i></a><br>
      <a ui-sref = "forgot_password()"  class="forgot-pass"> Forgot your Password? <i class="fa fa-question-circle"></i></a>
    </div>
  </div>
</div>
