<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Request to change password</h1>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email" ng-model = "email">
              </div>
            </div>
            <div class="text-center">
              <!--ui-sref = 'stateName({param:value, param:value})' -->
              <a ui-sref = "request_to_change_password({email: email})" class="btn btn-primary">Ask for new password </a>
            </div>
          </form>
        </div>
      </div>
      </div>
  </div>
</div>
