<!-- Wrapper required for sidebar transitions -->
<div class="st-container">
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#sidebar-menu" data-toggle="sidebar-menu" data-effect="st-effect-3" class="toggle pull-left visible-xs"><i class="fa fa-bars"></i></a>
				<a href="#sidebar-chat" data-toggle="sidebar-menu" class="toggle pull-right"><i class="fa fa-comments"></i></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand hidden-xs navbar-brand-primary">Snipp</a>
			</div>
			<div class="navbar-collapse collapse" id="collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- notifications -->

					<!-- // END notifications -->
					<!-- messages -->

					<!-- // END messages -->
					<!-- user -->
					<li class="dropdown user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="" alt="" class="img-circle" /> {{ loggedUser.username }}<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a ui-sref = "user_profile()"><i class="fa fa-user"></i>Profile</a></li>
							<li><a ui-sref = "user_snippets()"><i class="fa fa-wrench"></i>My snippets</a></li>
							<li><a ui-sref = "logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
						</ul>
					</li>
					<!-- // END user -->
				</ul>
			</div>
		</div>
	</div>
	<!-- Sidebar component with st-effect-3 (set on the toggle button within the navbar) -->
	<div class="sidebar left sidebar-size-3 st-effect-3 sidebar-skin-white sidebar-visible-desktop" id=sidebar-tickets>
		<div class="split-vertical">
			<div class="sidebar-block equal-padding">
        <a ui-sref = "start_create_snippet()" class="btn btn-block btn-primary"> <i class="fa fa-pencil"></i> Create snippet </a>
			</div>
      <div class="sidebar-block equal-padding">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="description"placeholder="description..">
          <span class="input-group-btn">
            <a ui-sref = "search_description({description: description})"
             class="btn btn-primary"><i class="fa fa-search"></i></a>
          </span>
        </div>
      </div>
			<div class="split-vertical-body">
				<div class="split-vertical-cell">
					<div data-scrollable>
						<ul class="sidebar-menu sm-bordered">
							<li class="active"><a ><i class="fa fa-ticket"></i> <span>New</span></a></li>
							<li><a><i class="fa fa-exclamation-circle"></i> <span>Unread</span></a></li>
							<li><a ><i class="fa fa-pencil"></i> <span>Draft</span></a></li>
						</ul>
						<div class="sidebar-block">
							<div class="selectbox selectbox-primary">
								<!-- izbror jezika i izbor datuma -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- content push wrapper -->
	<div class="st-pusher">
		<div class="st-content">
			<div class="st-content-inner" id="content">
				<div class="container-fluid">
					<h2>Snippets</h2>

					<div ng-repeat = "snippet in snippets">

					<div class="panel panel-default">
						<div class="panel-body">
							<div class="media">
								<div class="media-body">
									<div class="pull-right">
										<a href="" class="btn btn-primary btn-xs"><i class="fa fa-comment"></i> Create comment</a>
									</div>
									<h4 class="media-heading"><a href="#">{{ snippet.description }}</a></h4>
									<p>
										<span class="label label-default"># {{ snippet.url }}</span>
										<a href="" class="user-ticket-action "><span class="label label-primary"> {{ snippet.language.name }}</span></a>
									</p>
									<div class="expandable expandable-indicator-white expandable-trigger">
										<div class="expandable-content">
											<p>
                        {{ snippet.data }}
											</p>
										</div>
									</div>
									<p class="margin-none">
										<span class="text-default"><i class="icon-time-clock fw"></i> {{ snippet.duration }} min <i class=" icon-user innerL"></i> Creator: <a href="">{{ snippet.creatorDTO.username }}</a></span>
									</p>
								</div>
							</div>
						</div>
					</div>
          </div>
					<ul class="pagination margin-top-none">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
			<!-- // END .st-content-inner -->
		</div>
		<!-- // END .st-content -->
	</div>
	<!-- // END .st-pusher -->
</div>
<!-- // END .st-container -->
