<div ng-show="loggedUser.roleDTO.name == 'ADMIN'">
	<div class="sidebar left sidebar-size-3 st-effect-3 sidebar-skin-white sidebar-visible-desktop" id=sidebar-tickets>
	  <div class="split-vertical">
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <div class="sidebar-block equal-padding">
	      <div class="input-group">
	        <input type="text" class="form-control" ng-model="name" placeholder="Language name...">
	        <span class="input-group-btn">
	          <a ui-sref = "add_language({name: name})"
	           class="btn btn-primary">Add</a>
	        </span>
	      </div>
	    </div>
	  </div>
	</div>

<div id="content">
	<div class="container-fluid split-vertical">
		<div class="split-vertical-body">
			<div class="split-vertical-cell">
				<div data-scrollable>
					<div class="overflow-hidden">
						<p>&nbsp;</p>
						<h4>Languages</h4>
            <div class="panel panel-default">
              <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody ng-repeat="language in languages">
                  <tr>
                    <td>{{ language.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
